<% provide(:title, "Home") %>

<div class="jumbotron center">
<h1>Madely App</h1>
<p>
  This is the home page for the madely application.<br>
  <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
</p>

</div>
